body{
    background-color: lightgray;;
}
     
    .container {
    width:240px;
    height: 400px;
    margin: 80px auto;
    background-color: gray;
    border-radius: 20px;
   
    }
    .button{
        width:40px;
        height: 40px;
        font-size: 18px;
        margin: 10px 0 0 5px;
        font-weight: bold;
        border: none;
        
    }
    #display{
        margin: 10px 0 0 5px;
       outline:none;
       border: none;
       font-weight: 400px;
       padding: 10px;
      border-radius: 5px;
      
    }
    